$SuccColor: #9EEB63;
$Warning: #F34E4E;


// blue
$blue-1: #DEF7FF;
$blue-2: #D6EEF6;
$blue-3: #A1D4E5;
$blue-4: #7BB9FA;
$blue-5: #537CE6;

// green
$green-1: #EAFFAC;
$green-2: #D6EF8A;


// red
$red-1: #fd7676;

// orange
$orange-1: #ffb866;
$orange-2: #ffa53a;

// yellow
$yellow: #fbeca9;

// purple
$purple: #c58cfd;

// gray
$gray-1: #FDFDFD;
$gray-2: #F8F8F8;
$gray-3: #DDDDDD;
$gray-4: #A6A6A6;
$gray-5: #5F5F5F;

// white
$white-1: #ffffff;
$white-2: #f9f9f9;

// black
$black-1: #242529;

//transparent
$transp: #fff0;
