.prodPage {
  padding: 30px 80px 30px 80px;
  position: relative;
  background-color: #fff;
  border: 1px solid $gray-5;
  nav {
    a {
      color: $black-1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .mainTitle {
    display: flex;
    flex-direction: column;
    gap: $S-spacing;
    margin-bottom: $L-spacing;
    h1 {
      font-size: $PC-h3;
      padding-left: $S-spacing;
    }

    form {
      input:not([type="file"], [type="number"], [type="radio"]) {
        width: 400px;
        height: 30px;
        padding: 5px 10px;
        height: 40px;
      }
      textarea {
        padding-left: 10px;
        padding-top: 10px;
        letter-spacing: 1.2px;
        line-height: 120%;
        resize: none;
        overflow-y: auto;
        height: 100px;
        width: 400px;
      }
      .wrapper {
        margin-top: 20px;
        display: flex;
        gap: 46px;

        span {
          font-size: 18px;
          letter-spacing: 0.5px;
          font-weight: bold;
        }
        .text {
          display: flex;
          flex-direction: column;
          gap: 15px;

          input,
          textarea {
            margin-top: 8px;
          }

          .title,
          .brief,
          .date,
          .content,
          .device {
            display: flex;
            flex-direction: column;
          }
          .content{
            textarea {
              height: 250px;
            }
          }

          // -------------------------------------------標籤
          .productTag {
            .role {
              font-size: 15px;
              font-weight: unset;
              padding-left: 10px;
            }
            p {
              letter-spacing: .5px;
            }
            input[type=radio] {
              display: none;
            }
            input[type=radio] + label {
              display: inline-block;
              padding: 8px 16px;
              margin: 5px 8px;
              font-size: 16px;
              cursor: pointer;
              border: 1.5px solid $gray-3;
              border-radius: 4px;
              background-color: $gray-3;
              transition: all .1s ease-in;
              &:hover {
                border: 1.5px solid $gray-4;
              }
            }
            input[type="radio"]:checked + label {
              border: 1.5px solid $blue-5;
              background-color: $blue-5;
              color: white;
              font-weight: 700;
            }
            .ppl, .category, .diff{
              span {
                font-size: 16px;
                font-weight: unset;
              }
            }
            .ppl {
              margin-top: 10px;
            }
          }
        }
        .imgContent {
          display: flex;
          flex-direction: column;
          order: -1;
          gap: 15px;
          .img {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 20px;
            width: 260px;
            height: 248px;
            .selectImg {
              width: 260px;
              height: 248px;
              vertical-align: middle;
              border-radius: 8px;
              cursor: pointer;
              overflow: hidden;
              object-fit: contain;
              background-color: $gray-3;
            }
            .originalImg {
              width: 260px;
              height: 248px;
              vertical-align: middle;
              filter: opacity(25%);
              border-radius: 8px;
              cursor: pointer;
              overflow: hidden;
              object-fit: contain;
            }
            input {
              width: 250px;
              // padding-top: 20px;
              display: none;
              padding: 20px 8px 0 8px;
            }
            .upload {
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(0px, 120px);
              text-align: center;
              pointer-events: none;
              font-size: 22px;
            }
          }
          .small_image {
            display: flex;
            justify-content: space-between;
            position: relative;
            cursor: pointer;
            input {
              width: 250px;
              display: none;
              padding: 20px 8px 0 8px;
            }
            label {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
            .text {
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(0%,350%);
              pointer-events: none;
              .upload {
                text-align: center;
              }
            }
          }
          .image2,
          .image3 {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            height: 124px;
            justify-content: center;
            // background-color: $gray-3;
            border-radius: 8px;
            overflow: hidden;
            .selectImg {
              width: 125px;
              vertical-align: middle;
              cursor: pointer;
              overflow: hidden;
              object-fit: contain;
              background-color: $gray-3;
            }
            .originalImg {
              vertical-align: middle;
              filter: opacity(25%);
              cursor: pointer;
              overflow: hidden;
              object-fit: contain;
              width: 125px;
            }
            input {
              width: 250px;
              display: none;
              padding: 20px 8px 0 8px;
            }
          }

          .priceArea {
            margin-top: 10px;
            display: flex;
            width: 260px;
            justify-content: space-around;
            align-items: center;
            input {
              margin-top: 8px;
              width: 100px;
              height: 30px;
              padding: 5px 10px;
              height: 40px;
            }
            .prcie,
            .DisPrcie {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      .btnArea {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        // padding-right: 200px ;
        margin-top: 20px;

        .addBtn {
          display: flex;
        }
        .cancelBtn {
          order: -1;
        }
      }
    }
  }
}
.bg-blue {
  background-color: $blue-1;
}
