.sideNavBar {
  .sideNavBarContent {
    width: 200px;
  }
  .logo {
    padding: 20px 0 0 5px;
    width: 180px;
    img {
      width: 100%;
    }
  }
  .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 20px;
      color: $black-1;
    }
  }
  .bg-blue {
    background-color: $blue-3;
  }
  .gap {
    gap: 10px;
    margin-top: 10px;
  }
}
