.book {
  padding: 30px 30px 30px 250px;
  .pageBtnList {
    display: flex;
    justify-content: end;
    padding: $M-spacing $XXL-spacing $XL-spacing $XXL-spacing;
    column-gap: $S-spacing;
    color: $black-1;
    i {
      font-size: 13px;
      color: $black-1;
    }
    .pageBtncursor {
      color: $black-1;
      cursor: pointer;
    }
    .pageBtn {
      color: $black-1;
      font-size: $M-text;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $blue-2;
      }
    }
    .currPageBtn {
      background-color: $blue-2;
    }
  }
  .nodata {
    position: absolute;
    top: 300px;
    left: 630px;
    span {
      font-size: 30px;
      letter-spacing: 3px;
      color: $gray-5;
    }
  }
  nav {
    a {
      color: $black-1;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .titleGroup {
    display: flex;
    flex-direction: column;
    gap: $M-spacing;
    margin-bottom: $L-spacing;

    h1 {
      font-size: $PC-h3;
      padding-left: $S-spacing;
    }

    .searchGroup {
      padding-left: $S-spacing;
      display: flex;
      gap: $S-spacing;

      select {
        height: 30px;
      }

      input {
        width: 250px;
        height: 30px;
        background-image: url("@/assets/images/general/magnifying-glass-solid.svg");
        background-size: 20px 20px;
        background-position: 4px 4px;
        background-repeat: no-repeat;
        padding-left: 30px;
      }
    }
  }
  .titleGroup {
    display: flex;
    flex-direction: column;
    gap: $M-spacing;
    margin-bottom: $L-spacing;
    h1 {
      font-size: $PC-h3;
      padding-left: $S-spacing;
    }
    .searchGroup {
      padding-left: $S-spacing;
      display: flex;
      gap: $S-spacing;
      select {
        height: 30px;
      }
      input {
        width: 250px;
        height: 30px;
        background-image: url("@/assets/images/general/magnifying-glass-solid.svg");
        background-size: 20px 20px;
        background-position: 4px 4px;
        background-repeat: no-repeat;
        padding-left: 30px;
      }
    }
  }
}
