.home {
  padding: 30px 30px 15px 250px;
  .homeCardList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $L-spacing;
    flex-flow: row wrap;
    a {
      text-decoration: none;
    }
  }
}
