.report{
    padding: 30px 30px 30px 250px;
    nav {
        a {
            color: $black-1;
            text-decoration: none;
            &:hover {
            text-decoration: underline;
            }
        }
        }
        .titleGroup {
        display: flex;
        flex-direction: column;
        gap: $S-spacing;
        margin-bottom: $L-spacing;
        h1 {
            font-size: $PC-h3;
            padding-left: $S-spacing;
        }
        .searchGroup {
            padding-left: $S-spacing;
            display: flex;
            gap: $S-spacing;
            select {
                height: 30px;
            }
            input {
            width: 250px;
            height: 30px;
            background-image: url("@/assets/images/general/magnifying-glass-solid.svg");
            background-size: 20px 20px;
            background-position: 4px 4px;
            background-repeat: no-repeat;
            padding-left: 30px;
            }
        }
    }

    .reTable{
        tbody{
            tr{
                .report_article{
                    width: 550px;
                    line-height: 20px;
                }
                td{
                    input{
                        cursor: pointer;
                        margin: auto;
                    }
                }
            }



        }
    }


    



}
